/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";

@mixin title-font {
	color: #333;
	font-family: arial, sans-serif;	
	font-style: normal;
	font-variant: normal;
	font-weight: bold;	
	letter-spacing: -1px;	
}

body {
	background: url("/images/diagonal-pattern.png") repeat;
	overflow-x: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	padding-bottom: 50px;
}

li {
	list-style: disc;
}

header {	
	height: 40px;
	border-bottom: 5px solid #333;
	padding: 10px 0px 0px 0px;

	h1.title {
		@include title-font;
		font-size: 40px;
		letter-spacing: -2.2px !important;
		display: inline;		
	}

	span.toggle-media-capture {
		@include title-font;
		display: inline;
		font-size: 18px;		
		color: #ccc;
		letter-spacing: -2.2px !important;
		cursor: pointer;
		opacity: 1;

		@include transition-property(opacity);
		@include transition-duration(1s);
		@include transition-timing-function(linear);
	}
	
	span.toggle-media-capture:hover {
		color: #7F7F7F;		
	}

	span.toggle-media-capture.hidden {
		opacity: 0 !important;
		display: inline !important;
	}

}

nav {
	position: absolute;	
	right: 10px;
}

nav > li {
	background: rgba(3,3,3,0.8);
	display: inline-block;
	height: 40px;
	width: 130px;
	text-align: center;
	line-height: 40px;
}

nav > li > a {	
	color: #fff;
	font-family: arial, sans-serif;	
	font-style: normal;
	font-variant: normal;
	font-weight: bold;	
	font-size: 16px;
	letter-spacing: -1px;	
}

nav > li > a:hover, a.active {
	color: #08C;
}

hr {
	position: absolute;
	width: 100%;
	color: #cfcfcf;
}

.hidden {
	display: none !important;
}

canvas {
	opacity: 1;

	@include transition-property(opacity);
	@include transition-duration(1s);
	@include transition-timing-function(linear);
}

canvas.invisible {
	opacity: 0;	
}

p {
	margin-top: 20px;
}
#support > .support-title.not_supported::after {
	content: "(Not Supported)";
	color: rgba(184, 51, 20, 0.9);
}
.features {
	margin-top: 10px;
}

.features li {
	display: inline;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	padding: 4px 6px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px inset, rgba(255, 255, 255, 0.8) 0 -1px inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px inset, rgba(255, 255, 255, 0.8) 0 -1px inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px inset, rgba(255, 255, 255, 0.8) 0 -1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px inset, rgba(255, 255, 255, 0.8) 0;
	list-style: none;
	background-color: rgba(184, 51, 20, 0.9);
}

.features > li.yes {
	background-color: rgba(120, 184, 20, 0.9);
}

.features > li.no {
	background-color: rgba(184, 51, 20, 0.9);		
}

#audio-element {
	display: block;
}

.username {
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	opacity: 1;

	@include transition-property(all);
	@include transition-duration(1s);
	@include transition-timing-function(linear);
}

.text {
	padding-top: 10px;
	font-size: 14px;
	font-family: Arial;
}

.username.invisible {
	opacity: 0;
}

.username.invisible span {
	color: #A4A4A4;
}

.username span {
	color: #444;
	font-family: arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: -1px !important;
	display: inline;
}

.username input {
	background: transparent;
	border: none;
	font-size: 26px;
	outline: none;
	color: #333;
	font-style: italic;
	border-bottom: 1px dashed #CFCFCF;
	text-align: center;
}

input[type='file'] {
	font-size: 12px;
}

p.bold, span.bold {
	font-weight: bold;
}

p.italic, span.italic {
	font-style: italic;
}

span.underline {
	text-decoration: underline;
}

span.verb {
	font-family: monospace;
}

#new-session {
	color: #7f7f7f;
	border: 2px solid #7f7f7f;
	background: transparent;
	font-size: 24px;
	font-weight: bold;
	font-family: arial, sans-serif;
	letter-spacing: -1.2px;
}

#new-session:hover {
	border: 2px solid #4e4e4e;
	color: #4e4e4e;	
	cursor: pointer;
	box-shadow: 0px 0px 16px #4e4e4e;
}

#new-session:active {
	border: 2px solid #a4a4a4;
	color: #a4a4a4;
}

#new-session {
	display: block;
}

#session-id {
	font-size: 13px;
	font-weight: bold;
	font-family: arial, sans-serif;
	letter-spacing: -1px;
}

#session-container {
	margin-bottom: 10px	
}

#session-container * {
	display: inline-block;
}

section {
	margin-top: 10px;	
	padding-left: 50px;
	display: none;
	
	h2 {
		@include title-font;
		font-size: 18px;
		border-top: 1px solid #CFCFCF;
		margin-top: 50px;
		text-transform: uppercase;
	}
	
	h3 {
		@include title-font;
		font-size: 14px;		
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

section.active {
	display: block;
}

section > .details {
	padding: 10px;
	border: 1px solid #CFCFCF;
	border-right: none;
	border-right: none;
	margin-left: 2px;
	margin-bottom: 10px;
}

section#future-work {
	padding-bottom: 25px;	
}

a {
	color: #08C;
	text-decoration: none;
}

canvas {
	padding-top: 10px;
	padding-right: 10px;
	-webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
	-moz-box-reflect: below 5px -moz-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));	
}

.codecs {
	margin-left: 40px;
}

.codecs > li {
	list-style: disc;
}

.overlay {
	width: 100%; 
	height: 100%; 
	position: fixed; 
	background-color: rgba(0, 0, 0, 0.898438); 
	z-index: 1;
	top: 0px;
}

.mc-feedback {
	height: 300px !important;
	z-index: 9999;
	box-shadow: 0px 0px 10px whitesmoke;
	-moz-box-shadow: 0px 0px 10px whitesmoke;
	-webkit-box-shadow: 0px 0px 10px whitesmoke;
}

.mc-container {
	color: #888;
	font-weight: bold;
	font-family: arial, sans-serif;
	letter-spacing: -1px;
	height: 100px;
}

.mc-container > p {
	font-size: 16px;
	margin-bottom: 20px;
	color: white;	
}

.mc-container > textarea {
	height: 100px;	
	width: 90%;
	color: black;
		
	overflow: hidden;
	resize: none;
	font-family: Arial;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Buttons from:;
 * http://www.red-team-design.com/wp-content/uploads/2011/09/awesome-css3-buttons.html 
 */
button.mc-send {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

button.mc-send:hover {
    background-color: #eee;        
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
}

button.mc-send:active {
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;     
    pointer-events: none;		
}

.mc-wrapper {
	left: -webkit-calc(50% - 15%) !important;
	top: -webkit-calc(50% - 15%) !important;

	left: -moz-calc(50% - 15%) !important;
	top: -moz-calc(50% - 15%) !important;
}

.mc-wrapper.hidden {
	left: 9999em !important;
}

.mc-minimize-button {
	display: none !important;
}

label {
	color: #888;
	font-size: 16px;
	font-weight: bold;
	font-family: arial, sans-serif;
	letter-spacing: -1px;	
}

/** Uniform Checkbox (Modified) 
  * Original at https://github.com/pixelmatrix/uniform/blob/master/css/uniform.default.css
  */
.checkbox {
  background-image: url(/images/sprite.png) !important;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  width: 19px;
  height: 19px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0px;
}

.checkbox {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}

.checkbox:active, 
.checkbox.active {
  background-position: -19px -260px;
}

.checkbox.focus ,
.checkbox:hover {
  background-position: -38px -260px;
}

.checkbox.focus:active ,
.checkbox:active:hover ,
.checkbox.active:hover ,
.checkbox.focus.active  {
  background-position: -57px -260px;
}

.checkbox:checked {
  background-position: -76px -260px;
}

.checkbox:active:checked, 
.checkbox.active:checked {
  background-position: -95px -260px;
}

.checkbox.focus.checked,
.checkbox.checked:hover {
  background-position: -114px -260px;
}

.checkbox.focus.checked:active ,
.checkbox:hover.checked:active,
.checkbox.active:hover.checked,
.checkbox.active.focus.checked {
  background-position: -133px -260px;
}

.checkbox.disabled,
.checkbox.disabled:active,
.checkbox.disabled.active {
  background-position: -152px -260px;
}

.checkbox.disabled.checked,
.checkbox.disabled.checked:active ,
.checkbox.disabled.active.checked {
  background-position: -171px -260px;
}

#partners {
	text-align: right;
	padding: 20px;
	border-top: 1px solid #CFCFCF;;
}

#partners img {
	position: relative;
	height: 80px;
	margin-right: 20px;
}